
@using Splendor.Core.Actions

<div class="splendor-nobles">

    @foreach(var noble in Nobles)
    {
        <Noble Model="@noble" />
    }

</div>

@foreach (var tier in Tiers.Reverse())
{
    <div>

        <CardStack HasCards   = "@tier.HasFaceDownCardsRemaining"
                   CanReserve = "@CanReserve" />

        @foreach (var card in tier.ColumnSlots.Values)
        {
            <Card Model      = "@card"
                  CanBuy     = "@BuyCard.CanAffordCard(Budget, card)"
                  CanReserve = "@CanReserve" />
        }

    </div>
}

@functions
{
    [Parameter]
    public IReadOnlyCollection<Splendor.Noble> Nobles { get; set; }

    [Parameter]
    public IReadOnlyCollection<BoardTier> Tiers { get; set; }

    [Parameter]
    public IPool Budget { get; set; }

    [Parameter]
    public bool CanReserve { get; set; }
}